* {
  margin: 0;
  padding: 0; }

body {
  background: #ddd;
  height: 100vh;
  width: 100vw; }

canvas {
  background: #555; }

.start {
  position: absolute;
  right: 10px;
  top: 20px; }

.stop {
  position: absolute;
  right: 10px;
  top: 50px; }

