* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #ddd;
  height: 100vh;
  width: 100vw;
}

.canvasWrapper {
  display: flex;
}

canvas {
  background: #333;
  height: 100vh;
  width: 100vw;
}

.start {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 30px;
  width: 100px;
}

.stop {
  position: absolute;
  right: 10px;
  top: 60px;
  height: 30px;
  width: 100px;
}

.calc {
  position: absolute;
  right: 50px;
  top: 120px;
  height: 30px;
  width: 80px;
}

.resultInput {
  position: absolute;
  right: 10px;
  top: 180px;
  width: 300px;
  overflow: hidden;
  * {
    width: 100%;
  }
}
