* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #ddd;
  height: 100vh;
  width: 100vw;
}

.canvasWrapper {
  display: flex;
}

canvas {
  background: #333;
  height: 100vh;
  width: 100vw;
}

.start {
  position: absolute;
  right: 10px;
  top: 20px;
  height: 30px;
  width: 100px;
}

.stop {
  position: absolute;
  right: 10px;
  top: 60px;
  height: 30px;
  width: 100px;
}

.calc {
  position: absolute;
  right: 50px;
  top: 120px;
  height: 30px;
  width: 80px;
}

.fpsDisplay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  color: crimson;
  border: 0px solid #333;
  font-size: 25px;
  font-weight: 700;
  -webkit-text-stroke: 0.3px #ffffff;
}
